.sponsors {
  background-color: $sponsors-background-color;
}

.sponsors-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.sponsor {
  min-width: 200px;
  text-align: center;
  margin: 20px 20px;
}

.sponsor img {
  width: 175px;
  border-radius: 5px;
}

.sponsor a:hover img {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  transition: all 500ms;
}